/* ==>> Variables <<== */
:root {
    --main_color: #007BFF;
    --title_font: "Poetsen One", sans-serif;
    --main_font: "Roboto", sans-serif;
    --font_weight: 500;
    --font_style: normal;
    --second_color: #999;
    --footer_color: #0056b3;
}

/* ==>> Barra de navegación <<== */
.logo {
    display: none;
}

.div_nav{
    position: sticky;
    top: 0;
    background: var(--main_color) ;
    z-index: 1;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.nav{
    display: flex;
    margin-right: 200px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.barr_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
}

.a_nav {
    margin: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: color .5s;
    padding: 3px;
}

.a_nav:hover {
    color: #000;
    border-bottom: #000 solid 2px;
}

.a_nav_1 {
    margin: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    padding: 3px;
    border-bottom: var(--second_color) solid 2px;
}

.a_nav_1:hover {
    color: #000;
    border-bottom: #000 solid 2px;
}

/* ==>> Edición del perfil <<== */

.header_perfil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img_perfil {
    width: 250px;
    border-radius: 50%;
    margin-right: 30px;
}

.art_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.user_name {
    font-size: 28px;
    padding: 2px;
    font-family: var(--title_font);
    font-weight: 400;
    color: var(--main_color);
    margin-bottom: 15px;
}

.user_category {
    font-size: 16px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: var(--second_color);
    margin: 5px 0;
}

.inp_sub_catalogo {
    padding: 5px;
    border: none;
    background: linear-gradient(70deg, var(--footer_color), var(--main_color));
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
}

.div_perfil {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 0;
}

.user_area {
    font-size: 13px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    margin-right: 5px;

}

.a_question {
    text-decoration: none;
    color: var(--footer_color);
}

.hours {
    font-size: 13px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: green;
    text-align: center;
}

.about_user {
    font-size: 18px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    margin: 15px;
}

.form_presup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 312px;
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid var(--second_color);
    border-radius: 5px;
}

.textA_presupuesto {
    margin: 10px 0;
    width: 310px;
    height: 100px;
    padding: 5px;
    resize: none;
    border: none;
    border-bottom: 2px solid var(--footer_color);
}

.textA_presupuesto::placeholder {
    color: var(--main_color);
}

.inp_form {
    width: 310px;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--footer_color);
    outline: none;
}

    /* ==>> perfiles.php -> sección de perfiles públicos <<== */

.mensaje_btn {
    font-size: 18px;
    font-family: var(--title_font);
    font-weight: 400;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    background: linear-gradient(70deg, var(--footer_color), var(--main_color));
    color: #fff;
    text-decoration: none;
}

.div_categorias {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px 0;
}

.material-symbols-outlined {
    margin-right: 5px;
}

.sec_rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 290px;
    margin: 10px 5px;
    padding: 5px;
}

.h5_form_rating {
    font-size: 18px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: var(--main_color);
    text-align: center;
    margin: 10px 0;
    padding: 5px;
}

.star {
    cursor: pointer;
}

.star:hover {
    color: #f81;
}

.inp_comment {
    margin: 10px 0;
    width: 280px;
    padding: 5px;
    resize: none;
}

.comment_btn {
    padding: 5px;
    background: linear-gradient(70deg, var(--footer_color), var(--main_color));
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* ==>> Perfiles públicos // comentarios realizados <<== */

.sec_rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
}

.div_comments_made {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    height: 400px;
    overflow-y: auto;
}

.h5_c_m {
    font-size: 24px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: var(--second_color);
    padding: 5px;
    margin: 10px 0;
}

.art_comments_made {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
}

.div_user_comments {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 2px solid var(--main_color);
    width: 290px;
    margin: 5px 0;
}

.img_user_comments {
    width: 50px;
    border-radius: 50%;
}

.user_name_comments {
    font-size: 15px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
}

.stars {
    color: #f81;
    font-size: 17px;
}

.rating_comment {
    font-size: 17px;
    font-family: var(--main_font);
    font-style: var(--font_style);
    color: #000;
    text-wrap: wrap;
    text-align: start;
}

.rating_date {
    font-size: 12px;
    font-family: monospace;
    color: var(--second_color);
}

    /* ==>> Perfil.php -> sección de publicaciones <<== */

.sec_publicaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    height: 400px;
    width: 70vw;
    overflow-y: auto;
}

.art_publicaciones {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    border: 2px solid var(--footer_color);
    width: 300px;
    margin: 0 10px;
}

.div_titulo {
    text-align: center;
    margin-right: 10px;
}

.img_publicacion {
    width: 250px;
    border-radius: 10px;
}

.div_info {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-top: 1px solid var(--footer_color);
    padding: 10px;
}


.h_titulo {
    font-size: 26px;
    font-family: var(--title_font);
    font-weight: 400;
    font-style: var(--font_style);
    padding: 2px;
}

.des_publicacion {
    font-size: 16px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    text-wrap: wrap;
}

.fecha {
    font-size: 12px;
    font-family: monospace;
    font-weight: 300;
    color: var(--second_color);
}

    /* ==>> Configuraciones.php <<== */

.art_perfil_configuracion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inp , .inp_about {
    font-size: 16px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: var(--main_color);
    padding: 2px;
    margin: 5px 0;
    width: 290px;
    resize: none;
}

.inp::placeholder {
    color: var(--main_color);
}

.inp_about::placeholder {
    color: var(--main_color);
}

.label {
    font-size: 14px;
    font-family: var(--main_font);
    font-style: var(--font_style);
    margin-top: 5px;
}

.inp_sub {
    padding: 5px;
    margin: 5px;
    border: none;
    background: linear-gradient(70deg, var(--footer_color), var(--main_color));
    color: #fff;
    cursor: pointer;
    margin: 5px auto;
}

    /* ==>> configuraciones.php -> agregar publicación <<== */

.form_publicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1_form {
    font-size: 26px;
    font-family: var(--title_font);
    font-weight: 400;
    color: var(--footer_color);
    text-align: center;
}

    /* ==>> Catalogo <<== ---------------------------------------*/

.header_catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.img_perfil_catalogo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 30px;
}

.p_catalogo {
    font-size: 18px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    color: var(--footer_color);
    margin: 5px 0;
    text-align: center;
}

.h1_catalogo {
    font-size: 22px;
    font-family: var(--title_font);
    color: #000;
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    text-align: center;
}

.sec_catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    min-height: 400px;
    /* height: 400px; */
    width: 70vw;
}

.art_catalogo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    border: 2px solid var(--footer_color);
    width: 300px;
    margin: 15px 10px;
    border-radius: 10px;
}

.div_titulo_catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.img_catalogo, .img_catalogo_pause {
    max-width: 100%;
    max-height: 90%;
    object-fit: cover;
}

.des_catalogo, .des_catalogo_pause, .alert_catalogo {
    font-size: 16px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    text-wrap: wrap;
}

.precio_catalogo, .precio_catalogo_pause {
    font-size: 14px;
    font-family: monospace;
    font-weight: var(--font_weight);
    color: var(--footer_color);
}

.a_catalogo, .a_catalogo_delete {
    font-size: 14px;
    width: 115px;
    padding: 2px;
    margin: 5px 0;
    background: linear-gradient(70deg, var(--footer_color), var(--main_color));
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.img_catalogo_pause {
    filter: grayscale(100%);
}

.des_catalogo_pause {
    color: var(--second_color);
}

.precio_catalogo_pause {
    color: var(--second_color);
}

.a_catalogo_delete {
    background: #f00;
}

.form_catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px;
}

.p_catalogo_subT {
    font-family: var(--main_font);
    font-size: 12px;
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    padding: 1px;
    margin-top: 2px;
}

.wrong {
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
    font-size: 18px;
    font-family: monospace;
    color: #f00;
}

.carrusel {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 250px;
  overflow: hidden;
}

.carrusel-slide {
  display: none;
  width: 100%;
  height: 100%;
}

.carrusel-slide.active {
  display: block;
}

.carrusel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel .prev,
.carrusel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

.carrusel .prev { left: 10px; }
.carrusel .next { right: 10px; }

.mensaje_btn_catalogo {
    font-size: 18px;
    font-family: var(--title_font);
    font-weight: 400;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background: #25d366;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.img_wpp_catalogo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.alert_catalogo {
    margin-bottom: 50px;
    text-align: center;
}