/* ==>> Variables <<== */
:root {
    --main_color: #007BFF;
    --title_font: "Poetsen One", sans-serif;
    --main_font: "Roboto", sans-serif;
    --font_weight: 500;
    --font_style: normal;
    --second_color: #999;
    --footer_color: #0056b3;
}

/* ==>> Barra de navegación <<== */
.logo {
    display: none;
}

.div_nav{
    position: sticky;
    top: 0;
    background: var(--main_color) ;
    z-index: 1;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.nav{
    display: flex;
    margin-right: 200px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.barr_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
}

.a_nav {
    margin: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: color .5s;
    padding: 3px;
}

.a_nav:hover {
    color: #000;
    border-bottom: #000 solid 2px;
}

.a_nav_1 {
    margin: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    padding: 3px;
    border-bottom: var(--second_color) solid 2px;
}

.a_nav_1:hover {
    color: #000;
    border-bottom: #000 solid 2px;
}

/* ==>> Edición del perfil <<== */

.header_perfil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img_perfil {
    width: 250px;
    border-radius: 50%;
    margin-right: 30px;
}

.art_perfil {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.user_name {
    font-size: 28px;
    padding: 2px;
    font-family: var(--title_font);
    font-weight: 400;
    color: var(--main_color);
    margin-bottom: 15px;
}

.user_category {
    font-size: 16px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: var(--second_color);
    margin: 5px 0;
}

.div_perfil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
}

.user_area {
    font-size: 13px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    margin-right: 5px;

}

.hours {
    font-size: 13px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: green;
}

.about_user {
    font-size: 18px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    margin: 15px;
}

    /* ==>> Configuraciones.php <<== */

.art_perfil_configuracion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inp , .inp_about {
    font-size: 16px;
    font-family: var(--main_font);
    font-weight: var(--font_weight);
    font-style: var(--font_style);
    color: var(--main_color);
    padding: 2px;
    margin: 5px 0;
    width: 290px;
    resize: none;
}

.inp::placeholder {
    color: var(--main_color);
}

.inp_about::placeholder {
    color: var(--main_color);
}

.label {
    font-size: 14px;
    font-family: var(--main_font);
    font-style: var(--font_style);
    margin-top: 5px;
}

.inp_sub {
    padding: 5px;
    margin: 5px;
    border: none;
    background: linear-gradient(70deg, var(--footer_color), var(--main_color));
    color: #fff;
    cursor: pointer;
    margin: 5px auto;
}